<!DOCTYPE html>
<html ng-app="starstroy" ng-strict-di>
<head>
  <base href="/"/>
  <title>СК «Стар-Строй»</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Play:400,700&subset=cyrillic,latin', media: 'all' %>
  <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyDUIDzDRBwfv_TI36scUeAy6EEu3g-y0Ew&sensor=true' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div ng-controller="mapCtrl">
  <map id="map"
       disable-default-u-i="true"
       zoom="13"
       center="[57.142, 65.490]"
       styles="[
     {'featureType': 'water', 'elementType': 'geometry.fill', 'stylers': [{'color': '#d3d3d3'}]},
     {'featureType': 'transit', 'stylers': [{'color': '#808080'}, {'visibility': 'off'}]},
     {'featureType': 'road.highway', 'elementType': 'geometry.stroke', 'stylers': [{'visibility': 'on'}, {'color': '#b3b3b3'}]},
     {'featureType': 'road.highway', 'elementType': 'geometry.fill', 'stylers': [{'color': '#ffffff'}]},
     {'featureType': 'road.local', 'elementType': 'geometry.fill', 'stylers': [{'visibility': 'on'}, {'color': '#ffffff'},     {'weight': 1.8}]},
     {'featureType': 'road.local', 'elementType': 'geometry.stroke', 'stylers': [{'color': '#d7d7d7'}]},
     {'featureType': 'poi', 'elementType': 'geometry.fill', 'stylers': [{'visibility': 'on'}, {'color': '#ebebeb'}]},
     {'featureType': 'administrative', 'elementType': 'geometry', 'stylers': [{'color': '#a7a7a7'}]},
     {'featureType': 'road.arterial', 'elementType': 'geometry.fill', 'stylers': [{'color': '#ffffff'}]},
     {'featureType': 'road.arterial', 'elementType': 'geometry.fill', 'stylers': [{'color': '#ffffff'}]},
     {'featureType': 'landscape', 'elementType': 'geometry.fill', 'stylers': [{'visibility': 'on'}, {'color': '#efefef'}]},
     {'featureType': 'landscape.man_made', 'elementType': 'geometry.stroke', 'stylers': [{'color': '#d3d3d3'}]},
     {'featureType': 'road', 'elementType': 'labels.text.fill', 'stylers': [{'color': '#696969'}]},
     {'featureType': 'administrative', 'elementType': 'labels.text.fill', 'stylers': [{'visibility': 'on'}, {'color': '#737373'}]},
     {'featureType': 'poi', 'elementType': 'labels.icon', 'stylers': [{'visibility': 'off'}]},
     {'featureType': 'poi', 'elementType': 'labels', 'stylers': [{'visibility': 'off'}]},
     {'featureType': 'road.arterial', 'elementType': 'geometry.stroke', 'stylers': [{'color': '#d6d6d6'}]},
     {'featureType': 'road', 'elementType': 'labels.icon', 'stylers': [{'visibility': 'off'}]},
     {'featureType': 'poi', 'elementType': 'geometry.fill', 'stylers': [{'color': '#dadada'}]}
     ]">
    <marker
      id="office-marker"
      position="[57.113172, 65.569221]"
      title="Офис Старстрой"
      icon="<%= asset_path('map-icn-office.png') %>"
      animation="Animation.DROP"
      on-mouseover="showInfoWindow(event, 'office-info')"
    >
    </marker>
    <info-window id="office-info" max-width="300" visible-on-marker="office-marker">
      <div ng-non-bindable="">
        <h1 class="heading nowrap">ООО "Стар-Строй"</h1>
        <div class="content">
          <ul class="offers">
            <li>Офис компании</li>
            <li>ул. Пермякова 68 к2</li>
          </ul>
        </div>
      </div>
    </info-window>
    <marker
      ng-repeat="marker in markers"
      id="{{ marker.id }}"
      position="[{{ marker.latitude }}, {{ marker.longitude }}]"
      title="{{ marker.title }}"
      icon="{{ markerState(marker.finish).icon }}"
      animation="Animation.DROP"
      on-mouseover="showOffer(event, $index)"
      <!--on-mouseout="hideInfoWindow(event, 'info')"-->
    >
    </marker>
    <info-window id="info" max-width="300">
      <div ng-non-bindable="">
        <img ng-src="{{ marker.attachments[0].attachment.map_thumb.url }}" alt=""/>
        <h1 class="heading">{{ marker.title }}</h1>
        <div class="content">
          <p class="popup">{{ marker.popup }}</p>
          <div ng-show="marker.offers.length">
            <h2 class="heading">Спецпредложния</h2>
            <ul class="offers">
              <li ng-repeat="offer in marker.offers">{{ offer.info }}</li>
            </ul>
          </div>
        </div>
      </div>
    </info-window>
  </map>
</div>

<div class="main" ng-controller="navigationCtrl">
  <div class="logo"></div>
  <nav>
    <ul>
      <li><a ng-click="navTo('/', 1)" href ng-class="tabClass(1)"><i class="icn-objects"></i></a></li>
      <li><a ng-click="navTo('coop', 2)" href ng-class="tabClass(2)"><i class="icn-coop"></i></a></li>
      <li><a ng-click="navTo('contacts', 3)" href ng-class="tabClass(3)"><i class="icn-contacts"></i></a></li>
    </ul>
  </nav>
  <div class="table">
    <div class="row withline">
      <a ng-show="currentTab == 1 && backBtnState == true" ng-click="backBtn()" class="back-btn" href="/"><h1><</h1></a>
      <h1 ng-show="currentTab == 1" class="cell">Объекты&nbsp;строительства</h1>
      <h1 ng-show="currentTab == 2" class="cell">Сотрудничество</h1>
      <h1 ng-show="currentTab == 3" class="cell">Контакты</h1>
    </div>
  </div>
  <section class="content">
    <%= yield %>
  </section>
</div>

</body>
</html>
